.Button {
  font-size: 14px;
  width: 100%;
  padding: 12px;
  border: none;
  font-family: "Pretendard-Semibold";
  background-color: #547e55;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.Button_SECONDARY {
  border: 1px solid #547e55;
  background-color: #ffffff;
  color: #547e55;
}

.Button_LIGHT {
  background-color: #c7ddc8;
  color: #547e55;
}

.Button_DELETE {
  background-color: #ffe9e9;
  color: #dc1e1e;
}
