.EditBox {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 20px;
  box-shadow: rgba(108, 108, 108, 0.285) 0px 0px 30px 0px;
}

.EditBox > textarea {
  border: 1px solid #cdd1d5;
  border-radius: 18px;
  height: 270px;
  padding: 20px;
  resize: none;
  outline-color: #547e55;
}

.EditBox .button_wrapper {
  width: 100px;
  margin-top: auto;
  margin-bottom: -10px;
  margin-left: auto;
}

.EditBox button {
  padding: 5px 10px;
}
