.Home {
  padding: 30px;
}
.section_top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn-wraaper {
  display: flex;
}

.btn-wraaper button {
  padding: 10px 20px;
  border-radius: 100px;
}
