.Button {
  width: 100%;
  padding: 12px;
  border: none;
  font-family: "Pretendard-Semibold";
  background-color: #547e55;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.Button_SECONDARY {
  border: 1px solid #547e55;
  background-color: #ffffff;
  color: #547e55;
}

.Button_DELETE {
  background-color: #C7DDC8;
  color: #547e55;
}