@font-face {
  font-family: "against";
  src: url("/againstregular.ttf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("/Pretendard-Regular.ttf");
}

html,
body {
  background-color: #547e55;
}
/* 
body::before {
  content: "";
  background: url(assets/backgroundtxt.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0px;
  bottom: 0px;
  z-index: 0;
} */

* {
  font-family: "Pretendard-Regular";
}

.login {
  border-radius: 12px;
  max-height: 400px;
  height: 100%;
  background-color: white;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  box-shadow: rgba(108, 108, 108, 0.285) 0px 0px 30px 0px;
}

.loginPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  max-height: 400px;
  height: 100%;
  width: 100%;
  max-width: 560px;
}
.loginText {
  color: white;
  font-family: "Pretendard-regular";
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.logo {
  color: white;
  font-family: "against";
  font-size: 48px;
  text-align: center;
  font-weight: lighter;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 14px;
  font-family: "Pretendard-Medium";
  color: #191a1c;
  margin-top: 16px;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #bec0c6;
}

.inputWrap:focus-within {
  border: 1px solid #547e55;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 12px;
}

.input::placeholder {
  color: #dadada;
}

.btnWrap {
  margin-bottom: 20px;
}
